@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background-color: #EBEBEB;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.dashboard {
  z-index: 1;
  height: 60px;
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}
.dashboard .logo {
  font-size: 70px;
  position: relative;
  right: 30px;
  width: 110px;
  height: 110px;
  fill: black;
}
.dashboard svg {
  font-size: 30px;
}
.dashboard ul {
  font-size: 18px;
  margin: 0;
  padding: 0 70px;
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}
.dashboard ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  border-bottom: solid 0px #000;
  transition: 0.1s;
}
.dashboard ul .dash {
  cursor: pointer;
  display: none;
}
.dashboard ul .dash div {
  background-color: #000;
  width: 25px;
  height: 2px;
  margin: 4px;
}
.dashboard ul .svg svg {
  cursor: pointer;
  font-size: 30px;
  display: none;
}
.dashboard ul #no4 {
  position: relative;
}
.dashboard ul #no4 .catrq {
  font-size: 15px;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7176470588);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: -7px;
  border-radius: 50%;
  color: #ffffff;
}

.extension {
  position: fixed;
  right: -300px;
  background-color: #FFFFFF;
  width: 300px;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  transition: 0.3s;
}
.extension .close {
  position: absolute;
  right: 0;
  margin: 30px 20px;
  cursor: pointer;
}
.extension .close svg {
  font-size: 30px;
}
.extension .close .one {
  transform: rotate(1deg);
}
.extension .close .two {
  transform: rotate(1deg);
}
.extension .list {
  margin-top: 100px;
}
.extension .list ul {
  list-style: none;
  padding: 0;
}
.extension .list ul .find #cartee {
  position: relative;
}
.extension .list ul .find #cartee .catrqq {
  font-size: 12px;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7176470588);
  width: 15px;
  height: 15px;
  position: absolute;
  top: -6px;
  right: 185px;
  border-radius: 50%;
  color: #ffffff;
}
.extension .list ul .find li {
  margin: 15px 20px;
}
.extension .list ul .find li a {
  color: #000;
  text-decoration: none;
  font-size: 26px;
}
.extension .list ul .text {
  margin-top: 150px;
  margin-right: 20px;
  margin-left: 20px;
}
.extension .list ul .text li p {
  font-size: 22px;
  color: rgba(47, 62, 70, 0.8980392157);
}
.extension .list ul .butt {
  margin-top: 50px;
  margin-left: 40px;
}
.extension .list ul .butt button {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 40px;
  border: solid 1px #000;
  transition: 0.1s;
  cursor: pointer;
}
.extension .list ul .butt button:hover {
  background-color: #000;
  color: #ffffff;
}
.extension .list ul .find-icon {
  margin: 50px 20px;
}
.extension .list ul .find-icon li {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.extension .list ul .find-icon li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.extension .list ul .find-icon li svg {
  cursor: pointer;
  font-size: 22px;
}

.blur {
  z-index: 2;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  margin: auto;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.719), #FFFFFF);
}
.container .content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px #ffffff;
  width: 700px;
  margin: auto;
  margin-bottom: 50px;
}
.container .content .color {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  padding: 0;
  width: 700px;
  height: 200px;
  background-color: #000;
}
.container .content .color .image {
  border: solid 3px #ffffff;
  position: absolute;
  bottom: -20px;
  left: 20px;
  height: 150px;
}
.container .content .color .image img {
  width: 100%;
  height: 150px;
  -o-object-fit: fill;
     object-fit: fill;
}
.container .content .color .edit {
  position: absolute;
  bottom: -70px;
  left: 27px;
}
.container .content .color .edit button {
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 10px;
  border: solid 1px #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
  background-color: #FFFFFF;
}
.container .content .color .name {
  position: absolute;
  bottom: 40px;
  left: 180px;
}
.container .content .color .name p {
  line-break: anywhere;
  font-weight: 600;
  margin: 5px;
  font-size: 24px;
  color: #FFFFFF;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .content .center {
  padding: 0;
  width: 700px;
  height: 110px;
  margin: auto;
  margin-top: 0;
  background-color: #f5f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container .content .center div {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.container .content .center div h4 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
.container .content .center div p {
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.671);
  letter-spacing: 1px;
}
.container .content .end {
  display: none;
  background-color: #ffffff;
}
.container .content .end .data {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 40px;
}
.container .content .end .data div label {
  margin-right: 30px;
}
.container .content .end .data div input {
  height: 30px;
  width: 200px;
}
.container .content .end .choosecolor {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}
.container .content .end .choosecolor h3 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}
.container .content .end .choosecolor .items5 {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}
.container .content .end .choosecolor .items5 .fo {
  display: grid;
  place-items: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: solid 2px #ffffff;
}
.container .content .end .choosecolor .items5 .color1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000;
}
.container .content .end .choosecolor .items5 .color2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fbb1bd;
}
.container .content .end .choosecolor .items5 .color3 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aqua;
}
.container .content .end .choosecolor .items5 .color4 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
}
.container .content .end .choosecolor .items5 .color5 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(136, 255, 0);
}
.container .content .end .photo {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.container .content .end .photo p {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 25px;
}
.container .content .end .photo label {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.226);
  padding: 10px 15px;
  border-radius: 7px;
  color: #000;
}
.container .content .end .photo label input {
  display: none;
}
.container .content .end .out {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}
.container .content .end .out p {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 25px;
  margin-bottom: 25px;
}
.container .content .end .out button {
  font-size: 16px;
  border: solid 1px red;
  background-color: #ffffff;
  padding: 9px 20px;
  border-radius: 20px;
  color: red;
  margin-bottom: 25px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .dashboard ul {
    padding-right: 60px;
  }
  .dashboard ul .dash {
    display: inline-block;
  }
  .dashboard ul .svg svg {
    display: inline-block;
    font-size: 25px;
  }
  .dashboard ul .none {
    display: none;
  }
  .dashboard .logo {
    height: 110px;
    width: 110px;
  }
  .extension {
    position: fixed;
    right: -300px;
    background-color: #FFFFFF;
    width: 250px;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    transition: 0.3s;
  }
  .extension .close {
    position: absolute;
    right: 0;
    margin: 30px 20px;
    cursor: pointer;
  }
  .extension .close svg {
    font-size: 30px;
  }
  .extension .close .one {
    transform: rotate(1deg);
  }
  .extension .close .two {
    transform: rotate(1deg);
  }
  .extension .list {
    margin-top: 70px;
  }
  .extension .list ul {
    list-style: none;
    padding: 0;
  }
  .extension .list ul .find #cartee {
    position: relative;
  }
  .extension .list ul .find #cartee .catrqq {
    font-size: 11px;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7176470588);
    width: 13px;
    height: 13px;
    position: absolute;
    top: -6px;
    right: 145px;
    border-radius: 50%;
    color: #ffffff;
  }
  .extension .list ul .find li {
    margin: 15px 20px;
  }
  .extension .list ul .find li a {
    color: #000;
    text-decoration: none;
    font-size: 26px;
  }
  .extension .list ul .find .find-icon2 {
    position: absolute;
    bottom: 30px;
  }
  .extension .list ul .find .find-icon2 li a {
    font-size: 18px;
  }
  .extension .list ul .find .none2 {
    position: relative;
    top: 24px;
  }
  .extension .list ul .find .none2 li {
    margin-bottom: 30px;
  }
  .extension .list ul .find .none2 li a {
    font-size: 18px;
  }
  .extension .list ul .find .out {
    position: absolute;
    bottom: 30px;
    right: 0;
  }
  .extension .list ul .find .out button {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: solid 1px #000;
    padding: 5px 10px;
    transition: 0.1s;
    color: red;
    border: solid 1px red;
  }
  .extension .list ul .text {
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .extension .list ul .text li p {
    font-size: 22px;
    color: rgba(47, 62, 70, 0.8980392157);
  }
  .extension .list ul .butt {
    margin-top: 50px;
    margin-left: 40px;
  }
  .extension .list ul .butt button {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 40px;
    border: solid 1px #000;
    transition: 0.1s;
    cursor: pointer;
  }
  .extension .list ul .butt button:hover {
    background-color: #000;
    color: #ffffff;
  }
  .extension .list ul .find-icon {
    margin: 50px 20px;
  }
  .extension .list ul .find-icon li {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  .extension .list ul .find-icon li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  .extension .list ul .find-icon li svg {
    cursor: pointer;
    font-size: 22px;
  }
  .container .content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px #ffffff;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
  }
  .container .content .color {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    padding: 0;
    width: 100%;
    height: 300px;
    background-color: #000;
  }
  .container .content .color .image {
    border: solid 3px #ffffff;
    position: absolute;
    bottom: 60px;
    left: 20px;
    height: 130px;
  }
  .container .content .color .image img {
    width: 100%;
    height: 130px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .container .content .color .edit {
    position: absolute;
    bottom: 10px;
    left: 23px;
  }
  .container .content .color .edit button {
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 10px;
    border: solid 1px #000;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #FFFFFF;
  }
  .container .content .color .name {
    position: absolute;
    bottom: 100px;
    left: 160px;
  }
  .container .content .color .name p {
    line-break: anywhere;
    font-weight: 600;
    margin: 5px;
    font-size: 24px;
    color: #FFFFFF;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container .content .center {
    padding: 0;
    width: 100%;
    height: 110px;
    margin: auto;
    margin-top: 0;
    background-color: #f5f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .container .content .center div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .container .content .center div h4 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .container .content .center div p {
    padding-top: 0;
    margin-top: 0;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.671);
    letter-spacing: 1px;
  }
  .container .content .end {
    display: none;
    background-color: #ffffff;
  }
  .container .content .end .data {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 40px;
  }
  .container .content .end .data div label {
    margin-right: 30px;
  }
  .container .content .end .data div input {
    height: 30px;
    width: 200px;
    margin-top: 10px;
  }
  .container .content .end .choosecolor {
    width: 90%;
    margin: auto;
    padding-top: 40px;
  }
  .container .content .end .choosecolor h3 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .container .content .end .choosecolor .items5 {
    display: flex;
    gap: 10px;
    margin-left: 5px;
  }
  .container .content .end .choosecolor .items5 .fo {
    display: grid;
    place-items: center;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: solid 2px #ffffff;
  }
  .container .content .end .choosecolor .items5 .color1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
  }
  .container .content .end .choosecolor .items5 .color2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fbb1bd;
  }
  .container .content .end .choosecolor .items5 .color3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #8eecf5;
  }
  .container .content .end .choosecolor .items5 .color4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
  }
  .container .content .end .choosecolor .items5 .color5 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(136, 255, 0);
  }
  .container .content .end .photo {
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }
  .container .content .end .photo p {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 25px;
  }
  .container .content .end .photo label {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.226);
    padding: 10px 15px;
    border-radius: 7px;
    color: #000;
  }
  .container .content .end .photo label input {
    display: none;
  }
  .container .content .end .out {
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }
  .container .content .end .out p {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 25px;
    margin-bottom: 25px;
  }
  .container .content .end .out button {
    font-size: 16px;
    border: solid 1px red;
    background-color: #ffffff;
    padding: 9px 20px;
    border-radius: 20px;
    color: red;
    margin-bottom: 25px;
    cursor: pointer;
  }
}
@media (min-width: 501px) and (max-width: 766px) {
  .dashboard ul {
    padding-right: 60px;
  }
  .dashboard ul .dash {
    display: inline-block;
  }
  .dashboard ul .svg svg {
    display: inline-block;
    font-size: 25px;
  }
  .dashboard ul .none {
    display: none;
  }
  .dashboard .logo {
    font-size: 60px;
  }
  .extension {
    position: fixed;
    right: -300px;
    background-color: #FFFFFF;
    width: 300px;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    transition: 0.3s;
  }
  .extension .close {
    position: absolute;
    right: 0;
    margin: 30px 20px;
    cursor: pointer;
  }
  .extension .close svg {
    font-size: 40px;
  }
  .extension .close .one {
    transform: rotate(1deg);
  }
  .extension .close .two {
    transform: rotate(1deg);
  }
  .extension .list {
    margin-top: 90px;
  }
  .extension .list ul {
    list-style: none;
    padding: 0;
  }
  .extension .list ul .find li {
    margin: 15px 20px;
  }
  .extension .list ul .find li a {
    color: #000;
    text-decoration: none;
    font-size: 26px;
  }
  .extension .list ul .find .find-icon2 {
    position: absolute;
    bottom: 30px;
  }
  .extension .list ul .find .find-icon2 li a {
    font-size: 20px;
  }
  .extension .list ul .find .none2 {
    position: relative;
    top: 24px;
  }
  .extension .list ul .find .none2 li {
    margin-bottom: 30px;
  }
  .extension .list ul .find .none2 li a {
    font-size: 22px;
  }
  .extension .list ul .find .out {
    position: absolute;
    bottom: 30px;
    right: 0;
  }
  .extension .list ul .find .out button {
    background-color: #FFFFFF;
    font-size: 18px;
    border-radius: 20px;
    border: solid 1px #000;
    padding: 5px 10px;
    transition: 0.1s;
    color: red;
    border: solid 1px red;
  }
  .extension .list ul .text {
    margin-top: 150px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .extension .list ul .text li p {
    font-size: 22px;
    color: rgba(47, 62, 70, 0.8980392157);
  }
  .extension .list ul .butt {
    margin-top: 50px;
    margin-left: 40px;
  }
  .extension .list ul .butt button {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 40px;
    border: solid 1px #000;
    transition: 0.1s;
    cursor: pointer;
  }
  .extension .list ul .butt button:hover {
    background-color: #000;
    color: #ffffff;
  }
  .extension .list ul .find-icon {
    margin: 50px 20px;
  }
  .extension .list ul .find-icon li {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  .extension .list ul .find-icon li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  .extension .list ul .find-icon li svg {
    cursor: pointer;
    font-size: 22px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  body .extension {
    display: none;
  }
  body .dashboard {
    height: 70px;
  }
  body .dashboard .logo {
    position: relative;
    right: 30px;
    width: 120px;
    height: 120px;
    fill: #000;
    padding: 0px;
  }
  body .blur {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body .extension {
    display: none;
  }
  body .dashboard {
    height: 70px;
  }
  body .dashboard .logo {
    position: relative;
    right: 30px;
    width: 120px;
    height: 120px;
    fill: #000;
    padding: 0px;
  }
  body .blur {
    display: none;
  }
}
@media (min-width: 1200px) {
  body .extension {
    display: none;
  }
  body .dashboard {
    height: 70px;
  }
  body .dashboard .logo {
    font-size: 60px;
    position: relative;
    right: 30px;
    width: 120px;
    height: 120px;
    fill: #000;
    padding: 0px;
  }
  body .blur {
    display: none;
  }
}/*# sourceMappingURL=account.css.map */